{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-message fixed top-4 right-4 z-50 transform transition-transform duration-500 ease-in-out translate-x-0"
             data-controller="flash"
             data-flash-target="message"
             data-flash-timeout-value="5000">
            <div class="{% if label == 'success' %}bg-green-100 border-green-400 text-green-700{% else %}bg-red-100 border-red-400 text-red-700{% endif %} px-4 py-3 rounded relative" role="alert">
                <div class="flex items-center">
                    <span class="block sm:inline mr-8">{{ message }}</span>
                    <button type="button" class="absolute top-1/2 right-2 transform -translate-y-1/2" data-action="flash#close">
                        <svg class="fill-current h-4 w-4" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <title>Close</title>
                            <path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    {% endfor %}
{% endfor %} 